.pagination {
            font-size: 80%;
        }
        
.pagination a {
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
}

.pagination .current {
    background: #26B;
    color: #fff;
	border: solid 1px #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
* {
	padding: 0;
	margin: 0;
}

h1 {
	margin-bottom: 10px;
	font-size: 1.5em;
}

#Searchresult {
color: #fff;
	background-color: #369;
	padding: 5px;
	border: #fff 1px solid;
	text-align: left;
}