/* CSS Document */

.body .menu{
height:320px; width:320px; background:#9ac52d; color:#FFFFFF; float:left;
}
.body .ad1{
	float:right;
	width:660px;
	height:320px;
}

.metro td{
width:140px; height:160px; background:#9ac52d;
color:#FFFFFF;
padding-left:20px;
}
.zr td{
width:146.6px; height:166px; background:#9ac52d;
color:#FFFFFF;
padding-left:10px;
padding-right:10px;
}
