body {
	margin-left: 0px;
	margin-top: 0px;
	font-size:12px;
}
.main{
width:500px; margin:auto
}
.head {
background:#FFFFFF;
height:60px;
}
.body{
text-align:center;
background:#fff url(../images/bg.png) repeat;	

}
.foot{
background:#CCCCCC; 
padding-top:10px;
padding-bottom:10px; 
text-align:center;
color:#666666;
}

.form-item {
text-align:left; width:80%;  margin:auto;
margin-bottom: 15px;

}
.form-item input{
padding-left:5px;
height:41px;
line-height: normal; /* for non-ie */  
line-height: 22px\9; /* for ie */  
width:90%;
border:solid 1px #CCCCCC;
}
