body {
	margin-left: 0px;
	margin-top: 0px;
	font-size:14px;
	font-family: "微软雅黑";
	
}
p{
margin:0px;
padding:0px;
}
#body{
min-height:900px;
}
a{
text-decoration:none;
}
.main{

margin:auto;
min-width:600px;

}
.head {
background:#FFFFFF;
height:90px;
line-height:90px;
}
.clear{
clear:both;
}
.body{

background:#fff url(../images/bg.png) repeat;	
background-size:cover;
height:900px;
}
.form{
width:90%;
margin:auto;

}
.foot{
background:#CCCCCC; 
padding-top:10px;
padding-bottom:10px; 
text-align:center;
color:#666666;

}

.form-item {
width:100%;
margin-top:19px;
}

